.main_container{
    background-color: blanchedalmond;
    width: 45%;
    border-radius: 5px;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-around;
}
.main_container p{
    font-weight: 400;
    font-size: 20px;
}
.main_container button{
    height: 2rem;
    width: 13%;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #44cdcd;
}